{% extends 'gestor/base.html' %}

{% block title %}Agregar Usuario{% endblock %}

{% block content %}
<h2 class="text-center">Agregar nuevo Usuario</h2>
<div class="card">
    <div class="card-body">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
        </form>
        
    </div>
    
</div>
    


{% endblock %}
