{% extends 'gestor/base.html' %}

{% block title %}Detalle de {{ usuario.nombre }}{% endblock %}

{% block content %}
<h2 class="text-center">Detalle de {{ usuario.nombre }}</h2>
<div class="card">
    <div class="card-body">
        <p><strong>Edad:</strong> {{ usuario.edad }} años</p>
        <p><strong>Peso:</strong> {{ usuario.peso }} kg</p>
        <p><strong>Altura:</strong> {{ usuario.altura }} cm</p>
        <p><strong>Sexo:</strong> {{ usuario.get_sexo_display }}</p>
        <p><strong>Nivel de Actividad:</strong> {{ usuario.get_nivel_actividad_display }}</p>
        <p><strong>Cuello:</strong> {{ usuario.cuello }} cm</p>
        <p><strong>Cintura:</strong> {{ usuario.cintura }} cm</p>
        <p><strong>Caderas:</strong> {{ usuario.caderas }} cm</p>
        <p><strong>Tasa Metabólica Basal:</strong> {{ usuario.tasa_metabolica_basal }} kcal/día</p>
        <p><strong>Porcentaje de Grasa:</strong> {{ usuario.porcentaje_grasa }} %</p>
        <p><strong>Gasto Calórico diario:</strong> {{ usuario.gasto_calorico }} kcal/día</p>
        <p><strong>Objetivo de Entrenamiento:</strong> {{ usuario.get_objetivo_entrenamiento_display }}</p>
        <p><strong>Objetivo de Peso/semana:</strong> {{ usuario.get_objetivo_peso_display }}</p>
        <p><strong>Calorías Objetivo:</strong> {{ usuario.objetivo_calorias }} kcal/día</p>
    </div>
</div>
<div class="mt-3">
    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning">Editar</a> 
    <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    <a href="{% url 'vista_nutricion' usuario.pk %}" class="btn btn-primary">Ver Plan de Nutrición</a>
</div>


{% endblock %}


