{% extends 'gestor/base.html' %}

{% block content %}

<div class="container">

    {% for comida in comidas %}
    <div>
        <div>
            <h2>Detalle de Opcion en <a href="{% url 'detalle_comida' comida.id %}" class="text-dark">{{ comida.nombre }}</a></h2>
            <p><strong>Porcentaje de Calorias en comida:</strong> {{ comida.porcentaje_calorias}}%</p>
            <p><strong>Calorías Objetivo:</strong> {{ comida.calorias_por_comida }}Kcal</p>
            <p><strong>Proteínas Objetivo:</strong> {{ comida.proteinas_por_comida }}g</p>
            <p><strong>Carbohidratos Objetivo:</strong> {{ comida.carbohidratos_por_comida }}g</p>
            <p><strong>Grasas Objetivo:</strong> {{ comida.grasas_por_comida }}g</p>
        </div>
    {% endfor %}
        
    </div>
  
  <div class="mt-3 mb-3">
    <a href="{% url 'detalle_comida' comida.pk %}" class="btn btn-secondary">Volver a la Comida</a>
    {% if siguiente_opcion %}
      <a href="{% url 'detalle_opcion' siguiente_opcion.id %}" class="btn btn-primary ml-3">Siguiente Opción ({{ siguiente_opcion.nombre }})</a>
    {% else %}
      <p>No hay más opciones</p>
    {% endif %}
  </div>
  <hr>

  <ul class="list-group">
    <div>
        <h5>Detalle de <strong>{{ opcion.nombre }}</strong></h5>
        <div class="d-flex">
            <div class="me-3">
                <p><strong>Calorías Totales:</strong> {{ opcion.total_calorias }}Kcal</p>
            </div>
            <div class="me-3">
                <p><strong>Proteínas Totales:</strong> {{ opcion.total_proteinas }}g</p>
            </div>
            <div class="me-3">
                <p><strong>Carbohidratos Totales:</strong> {{ opcion.total_carbohidratos }}g</p>
            </div>
            <div class="me-3">
                <p><strong>Grasas Totales:</strong> {{ opcion.total_grasas }}g</p>
            </div>
        </div>
    </div>
    {% for alimento in opcion.alimentos_en_opcion.all %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
              <div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="me-2">
                      <h5>
                        <a href="{% url 'editar_alimento_en_opcion_detalle_opcion' alimento.pk %}" class="text-dark">{{ alimento.alimento.nombre }}</a>
                      </h5>
                    </div>
                    
                    <p class="mb-1 ms-1">
                      <small>Cantidad Gramos: {{ alimento.cantidad }}g |</small>
                      <small class="ms-1">Cantidad Unidades: {{ alimento.cantidad_unidades }} {{ alimento.unidad }}</small>
                    </p>

                    <p class="mb-1 ms-1">
                      <small>
                        (Calorías: {{ alimento.calorias }}Kcal - Proteínas: {{ alimento.proteinas }}g - Carbohidratos: {{ alimento.carbohidratos }}g - Grasas: {{ alimento.grasas }}g)
                      </small>
                    </p>
                  </div>
            </div>
          <div>
            <a href="{% url 'editar_alimento_en_opcion_detalle_opcion' alimento.pk %}" class="btn btn-sm btn-primary me-2">Editar</a>
            <a href="{% url 'eliminar_alimento_en_opcion_detalle_opcion' alimento.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="mt-3 mb-3">
    <a href="{% url 'agregar_alimento_en_opcion_detalle_opcion' opcion.usuario.pk opcion.pk %}" class="btn btn-success">Agregar Alimento</a>
    
  </div>
</div>

{% endblock %}
