{% extends 'gestor/base.html' %}

{% block title %}Eliminar alimento - {{ comida.nombre }}{% endblock %}

{% block content %}
<h2 class="text-center">Eliminar alimento - {{ opcion_menu.nombre }}</h2>
<p>¿Estás seguro de que deseas eliminar la comida "{{ opcion_menu.nombre }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'detalle_opcion' pk=comida.usuario.id %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}